body {
  background-color: whiteSmoke;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1.2em;
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
}

h1 {
  margin-bottom:2rem;
}

.text-shadow (@blur: 1px) {
  text-shadow: 1px 1px @blur #333;
}

@import "sprint-bar.less";
@import "github.less";
@import "branch-bar.less";