body {
  background-color: whiteSmoke;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1.2em;
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
}

h1 {
  margin-bottom:3rem;
}

.text-shadow (@blur: 1px) {
  text-shadow: 1px 1px @blur #333;
}

.days-remaining {
  width:50%;
  float:left;
  box-sizing: border-box;
  overflow: hidden;
  //padding: 0 0 0 4rem;
  margin-bottom:6rem;

  .countdown {
    width:50%;
    float:left;
    span {
      font-size:16rem;
      line-height:16rem;
    }
  }
  .donut-container {
    width:50%;
    float:left;
  }

  .donut.donut-big {
    font-size: 223px;
  }
}

@import "sprint-bar.less";
@import "github.less";
@import "branch-bar.less";